.header {
    padding: 20px;
    border-bottom: 1px solid gray;
    text-align: center;
	}
.header-link {
    margin: 10px;
}
header :hover {
	color: grey;
	border: 2px solid gray;
}
@font-face {
    font-family: 'Open Sans', sans-serif;
    scr: url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
}
.link {
	color: chocolate;
	transition: color .2s;
}
.title {
    font-family: 'Open Sans';
    color: gray;
    text-align: center;
}
body {
    margin: 0;
}
.img {
    border: 30px solid gray;
}
h2 {
    font-family: 'Open Sans';
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p {
    font-family: Open Sans;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
{
    width: 300px;
}
.img-wrapper {
    background-color: gainsboro;
    padding: 20px;
    text-align: center;
}
.subtitle {
    border-left: 5px solid chocolate;
    padding-left: 10px;
    color: gray;
    margin-top: 30px;
}
.footer {
    padding: 20px;
    border-top: 1px solid gray;
    text-align: center;
}
p :hover {
	color: grey;
}

